// CuiSelectDict 组件样式
@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.cui-select-dict {
	--cui-select-dict-width: 100%;

	width: var(--cui-select-dict-width);

	// ========== Elements ==========

	&__loading {
		@include flex-center;
		padding: $cui-spacing-md;
		color: $cui-color-text-secondary;
		font-size: $cui-font-size-small;
	}

	&__empty {
		@include flex-center;
		padding: $cui-spacing-md;
		color: $cui-color-text-placeholder;
		font-size: $cui-font-size-small;
	}

	// ========== Modifiers ==========

	&--disabled {
		@include disabled;
	}
}
